.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}


.App-link {
  color: #09d3ac;
}

header {
  border-bottom: 1px solid black;
}

nav {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 5vw
}

button{
  width: 100px;
  height: 40px;
  padding: 7%;
  border: 1px solid black;
  border-radius: 7px;
}

button:hover{
  background-color: black;
  color: white;
  font-size: 1em;
  transition: 0.2s;
}